*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-5{
margin-left: -20px;
margin-right: -120px;
}
.navbar{
    margin-left: -60px;
}

.container{
    padding:0 40px;
    
}

.nav-item h6:hover{
    color: rgb(255, 119, 0);
}
.card-title:hover {
    color: #ff7900;
}
.forms{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.forms h2{
    margin-top: -20px;
    font-size: 30px;
}
.forms label , h2 ,p ,.btnss a {
    margin-left: 150px;
    margin-bottom: 5px;
    display: inline-block;
}

.forms input{
    width: 550px;
    margin-left: 150px;
    border: 1px solid black;
}
.btn1{
    padding: 10px;
    color: black;
    background-color:#ff7900;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;

}
.btn2{
    padding: 10px;
    color: black;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;

}


.btn1:hover, .btn2:hover{
    background-color: black;   color: white;
}
